#principal{
    border:solid 4px rgba(20, 1, 104, 0.979);
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    background: url("../Faros2.jpg");

}
fieldset{
    border:solid 3px chocolate;
    margin-bottom: 30px;
}

legend{
    border: solid 3px rgba(196, 66, 66, 0.562);
    padding: 5px;
    font-weight: bold;
    border-radius: 30px;
    background: beige;
    
    
}
#mifoto{
margin: 3px;
border:solid  4px black;

}

body{
background: url("../Faros.jpg ") no-repeat center top fixed;
font-size: 20px;
font-style: italic;
font-stretch: semi-expanded;

}


